# enableNEI: BooleanOption
# blockClass: StringSetOption
# tileEntityClass: StringSetOption
# autoDetectCuttableBlocks: BooleanOption
# cuttableBlock: ItemAndMetaListOption

enableNEI: true

# included by default: blockClass: buildcraft.transport.BlockGenericPipe
# included by default: blockClass: ic2.core.block.wiring.BlockCable
# included by default: blockClass: appeng.common.base.AppEngMultiBlock
# included by default: blockClass: powercrystals.minefactoryreloaded.block.BlockRedNetCable
# included by default: blockClass: micdoodle8.mods.galacticraft.core.blocks.GCCoreBlockOxygenPipe
# included by default: blockClass: thermalexpansion.block.conduit.BlockConduit

# included by default: tileEntityClass: buildcraft.transport.TileGenericPipe
# included by default: tileEntityClass: ic2.core.block.wiring.TileEntityCable
# included by default: tileEntityClass: appeng.me.tile.TileCable
# included by default: tileEntityClass: appeng.me.tile.TileDarkCable
# included by default: tileEntityClass: appeng.me.tile.TileInputCable
# included by default: tileEntityClass: appeng.me.tile.TileOutputCable
# included by default: tileEntityClass: appeng.me.tile.TileLevelEmitter
# included by default: tileEntityClass: appeng.me.tile.TileStorageBus
# included by default: tileEntityClass: appeng.me.tile.TileColorlessCable
# included by default: tileEntityClass: powercrystals.minefactoryreloaded.tile.rednet.TileEntityRedNetCable
# included by default: tileEntityClass: micdoodle8.mods.galacticraft.core.tile.GCCoreTileEntityOxygenPipe
# included by default: tileEntityClass: thermalexpansion.block.conduit.TileConduitEnergy
# included by default: tileEntityClass: thermalexpansion.block.conduit.TileConduitLiquid

autoDetectCuttableBlocks: false

cuttableBlock: 490:0
cuttableBlock: 491:0
cuttableBlock: 492:0
cuttableBlock: 493:0
cuttableBlock: 494:0
cuttableBlock: 495:0
cuttableBlock: 496:0
cuttableBlock: 497:0
cuttableBlock: 498:0
cuttableBlock: 499:0
cuttableBlock: 500:0
cuttableBlock: 501:0
cuttableBlock: 502:0
cuttableBlock: 503:0
cuttableBlock: 504:0
cuttableBlock: 505:0
cuttableBlock: 506:0
cuttableBlock: 507:0
cuttableBlock: 508:0
cuttableBlock: 901:6
cuttableBlock: 901:14
cuttableBlock: 901:3
cuttableBlock: 901:11
cuttableBlock: 901:0
cuttableBlock: 901:8
cuttableBlock: 900:0
cuttableBlock: 901:5
cuttableBlock: 901:13
cuttableBlock: 901:4
cuttableBlock: 901:12
cuttableBlock: 901:2
cuttableBlock: 901:10
cuttableBlock: 900:2
cuttableBlock: 901:7
cuttableBlock: 901:15
cuttableBlock: 901:1
cuttableBlock: 901:9
cuttableBlock: 900:1
