# Configuration file

####################
# achievements
####################

achievements {
    I:"Adamantium Achievement"=5001
    I:"Adamantium Pick Achievement"=5004
    I:"Bronze Achievement"=5009
    I:"Fusion Furnace Achievement"=5008
    I:"Iron Pick Achievement"=5003
    I:"Mythril Bow Achievement"=5006
    I:"Onyx Achievement"=5002
    I:"Onyx Bow Achievement"=5007
    I:"Onyx Pick Achievement"=5005
    I:"SimpleOres Achievement"=5000
}


####################
# armor
####################

armor {
    I:"Adamantium Boots"=5215
    I:"Adamantium Chestplate"=5213
    I:"Adamantium Helmet"=5212
    I:"Adamantium Leggings"=5214
    I:"Bronze Boots"=5223
    I:"Bronze Chestplate"=5221
    I:"Bronze Helmet"=5220
    I:"Bronze Leggings"=5222
    I:"Copper Boots"=5203
    I:"Copper Chestplate"=5201
    I:"Copper Helmet"=5200
    I:"Copper Leggings"=5202
    I:"Mythril Boots"=5211
    I:"Mythril Chestplate"=5209
    I:"Mythril Helmet"=5208
    I:"Mythril Leggings"=5210
    I:"Onyx Boots"=5219
    I:"Onyx Chestplate"=5217
    I:"Onyx Helmet"=5216
    I:"Onyx Leggings"=5218
    I:"Sinisite Boots"=5231
    I:"Sinisite Chestplate"=5229
    I:"Sinisite Helmet"=5228
    I:"Sinisite Leggings"=5230
    I:"Thyrium Boots"=5227
    I:"Thyrium Chestplate"=5225
    I:"Thyrium Helmet"=5224
    I:"Thyrium Leggings"=5226
    I:"Tin Boots"=5207
    I:"Tin Chestplate"=5205
    I:"Tin Helmet"=5204
    I:"Tin Leggings"=5206
}


####################
# blocks
####################

blocks {
    I:"Adamantium Bars"=514
    I:"Adamantium Block"=497
    I:"Adamantium Ore"=496
    I:"Bronze Block"=500
    I:"Copper Bars"=511
    I:"Copper Block"=491
    I:"Copper Door"=509
    I:"Copper Ore"=490
    I:"Fusion Furnace"=507
    I:"Fusion Furnace On"=508
    I:"Mythril Bars"=513
    I:"Mythril Block"=495
    I:"Mythril Furnace"=503
    I:"Mythril Furnace On"=504
    I:"Mythril Ore"=494
    I:"Onyx Bars"=515
    I:"Onyx Block"=499
    I:"Onyx Door"=510
    I:"Onyx Furnace"=505
    I:"Onyx Furnace On"=506
    I:"Onyx Ore"=498
    I:"Sinisite Block"=502
    I:"Thyrium Block"=501
    I:"Tin Bars"=512
    I:"Tin Block"=493
    I:"Tin Ore"=492
}


####################
# items
####################

items {
    I:"Adamantium Ingot"=5003
    I:"Bronze Chunk Large "=5016
    I:"Bronze Chunk Medium "=5015
    I:"Bronze Chunk Small"=5014
    I:"Bronze Ingot"=5005
    I:"Copper Bucket"=5008
    I:"Copper Bucket Water"=5009
    I:"Copper Door Item"=5023
    I:"Copper Ingot"=5000
    I:"Mythril Ingot"=5002
    I:"Mythril Rod"=5010
    I:"Onyx Door Item"=5024
    I:"Onyx Gem"=5004
    I:"Onyx Rod"=5011
    I:"Sinisite Chunk Large "=5022
    I:"Sinisite Chunk Medium "=5021
    I:"Sinisite Chunk Small"=5020
    I:"Sinisite Ingot"=5007
    I:"Sinisite Rod"=5013
    I:"Thyrium Chunk Large "=5019
    I:"Thyrium Chunk Medium "=5018
    I:"Thyrium Chunk Small"=5017
    I:"Thyrium Ingot"=5006
    I:"Thyrium Rod"=5012
    I:"Tin Ingot"=5001
}


####################
# tools
####################

tools {
    I:"Adamantium Axe"=5116
    I:"Adamantium Hoe"=5119
    I:"Adamantium Pickaxe"=5115
    I:"Adamantium Shears"=5145
    I:"Adamantium Shovel"=5117
    I:"Bronze Axe"=5126
    I:"Bronze Hoe"=5129
    I:"Bronze Pickaxe"=5125
    I:"Bronze Shovel"=5127
    I:"Copper Axe"=5101
    I:"Copper Hoe"=5104
    I:"Copper Pickaxe"=5100
    I:"Copper Shovel"=5102
    I:"Mythril Axe"=5111
    I:"Mythril Hoe"=5114
    I:"Mythril Pickaxe"=5110
    I:"Mythril Shovel"=5112
    I:"Onyx Axe"=5121
    I:"Onyx Hoe"=5124
    I:"Onyx Pickaxe"=5120
    I:"Onyx Shears"=5146
    I:"Onyx Shovel"=5122
    I:"Sinisite Axe"=5136
    I:"Sinisite Hoe"=5139
    I:"Sinisite Pickaxe"=5135
    I:"Sinsisite Shovel"=5137
    I:"Thyrium Axe"=5131
    I:"Thyrium Hoe"=5134
    I:"Thyrium Pickaxe"=5130
    I:"Thyrium Shovel"=5132
    I:"Tin Axe"=5106
    I:"Tin Hoe"=5109
    I:"Tin Pickaxe"=5105
    I:"Tin Shears"=5144
    I:"Tin Shovel"=5107
}


####################
# weapons
####################

weapons {
    I:"Adamantium Sword"=5118
    I:"Bronze Sword"=5128
    I:"Copper Sword"=5103
    I:"Mythril Bow"=5140
    I:"Mythril Sword"=5113
    I:"Onyx Bow"=5141
    I:"Onyx Sword"=5123
    I:"Sinisite Bow"=5143
    I:"Sinisite Sword"=5138
    I:"Thyrium Bow"=5142
    I:"Thyrium Sword"=5133
    I:"Tin Sword"=5108
}


